@charset "UTF-8";
.wrapper{
  background: #cff1ff;
  width: 100%;
}
.inner{
  margin: 0 auto;
  width: 600px;
}
h1{
  text-align: center;
  font-size: 28px;
  padding: 60px 0 0 0;
}
.box{
  margin-top: 60px;
  padding: 50px;
  background: #ecfaff;
}
h2{
  text-align: center;
  font-size: 24px;
}
.personal-content,.account-content,.contact-content,.subscription-content,.submit-content{
  margin-top: 50px;
}
h3{
  font-size: 18px;
  color: #000000;
}
.label-section{
  margin-top: 25px;
}
.label-text{
  font-size: 14px;
  color: #464646;
}
.required{
  color: #e40000;
}
.input-area{
  width: 100%;
  height: 35px;
  margin-top: 6px;
  padding: 5px;
  color: #545658;
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
  background: #fbfbfb;
}
.select-area,.gender-area{
  margin-top: 6px;
}
.is-flex{
  display: flex;
}
.select-unit{
  width: 100%;
  position: relative;
}
.select-unit::after{
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  right: 10px;
  top: 45%;
  display: inline-block;
  border-bottom: 2px solid #c3c3c3;
  border-right: 2px solid #c3c3c3;
  transform: rotate(45deg);
}
select,input,button{
  appearance: none;
  background: transparent;
  border: none;
  outline: none;
  padding: 0px;
}
.gender-element:first-child{
  margin-left: 0;
}
.gender-element span{
  position: relative;
  display: inline-block;
  padding: 3px 3px 3px 20px;
  color: #545658;
}
.gender-element span::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  width: 14px;
  height: 14px;
  background-color: #fbfbfb;
  border:1px solid #d9d9d9;
  border-radius: 50%;
  transform: translateY(-50%);
}
.gender-content:checked+span::after{
  content:"";
  position: absolute;
  top: 50%;
  left: 4px;
  width: 8px;
  height: 8px;
  background-color: #017cbf;
  border-radius: 50%;
  transform: translateY(-50%);
}
option{
  font-weight: normal;
  display: block;
  white-space: nowrap;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}
.subscription-label{
  position: relative;
  padding-left: 25px;
}
.subscription-label::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  width: 15px;
  height: 15px;
  margin-top: -8px;
  border: 1px solid #d9d9d9;
  background: #ffffff;
}
.subscription-unit input:checked
+.subscription-label::after{
  content: "";
  position: absolute;
  top: 50%;
  left: 6px;
  width: 6px;
  height: 13px;
  margin-top: -11px;
  border-right: 3px solid #0140bf;
  border-bottom: 3px solid #0140bf;
  transform: rotate(45deg);
}
.btn-submit{
  padding: 13px;
  background: #0170bf;
  color: #fff;
}
.other-text{
  margin-top: 25px;
  font-size: 10px;
}
.link-color{
  color: #0170bf;
  text-decoration: none;
}
.btn{
  cursor: pointer;
  display: inline-block;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  transition: 0.3s;
  padding: 13px;
  width: 100%;
}